#navbarContainer {
    display: flex;
    height: 70px;
}



#navLogoText {
    border-right: 1px solid black;
}

#logoContainer {
    display: flex;
    flex-direction: row;
}

#navText {
    color: rgb(127, 85, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-grow: 1;
    align-self: center;
}

#navTextAdjust {
    display: flex;
    justify-content: center;
    align-items: center;
}


#slidePanel {
  position: fixed;
  top: 0; 
  left: -400px;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 2s ease;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: white;
  transition: transform 2s ease;
  transform: translateX(-100%);
}

.panel.open {
  transform: translateX(0);
}



@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}