

.addContainer {
    height: 60px;
    width: 1000px;
    display: flex;
    justify-content: space-between;

}

#saveBar {
    height: 60px;
    margin: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: rgb(223, 221, 221);
    display: flex;
    justify-content: end;
}


.text {
    font-family: 'Roboto', sans-serif;
}
#text {
    font-family: 'Roboto', sans-serif;
    font-weight: 380;
}


.voter-add-animation-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .voter-add-animation-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms; 
  }
  
  .voter-add-animation-exit {
    opacity: 1;  
    transform: scale(1);
  }
  
  .voter-add-animation-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }