

.addContainer {
    height: 60px;
    width: 1000px;
    display: flex;
    justify-content: space-between;

}

#saveBar {
    height: 60px;
    margin: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: rgb(223, 221, 221);
    display: flex;
    justify-content: end;
}


.text {
    font-family: 'Roboto', sans-serif;
}
#text {
    font-family: 'Roboto', sans-serif;
    font-weight: 380;
}
